.popup {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: none;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);;
}

@media screen and (max-width: 767px) {
  .popup {
    padding: 100px 19px;
    align-items: flex-start;
  }
}
@media screen and (orientation: landscape) {
  .popup {
    padding-top: 100px;
    overflow: scroll;
  }
}
