.elements__image {
  width: 282px;
  height: 282px;
  min-height: 282px;
  object-fit: cover;
}

.elements__image:hover {
  cursor: pointer;
}

@media screen and (max-width: 1023px) {
  .elements__image:hover {
    cursor: default;
  }
}
