.profile__main-info {
  padding-left: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media screen and (max-width: 767px) {
  .profile__main-info {
    padding: 26px 0 30px;
    align-items: center;
  }
}
