
.elements__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(3, fit-content(282px));
  grid-template-rows: max-content;
  gap: 20px 17px;
}

@media screen and (max-width: 1023px) {
  .elements__list {
    grid-template-columns: repeat(2, fit-content(282px));
  }
}

@media screen and (max-width: 767px) {
  .elements__list {
    grid-template-columns: fit-content(282px);
  }
}
